In [ ]:
import math

In [13]:
#calclate a average of factorials in a given range
def fact(n):
    num=1
    for i in range(1,n+1):
        num=num*i
    return num
n=int(input("enter number"))
sum=0
for i in range(1,n):
    x=fact(i)
    sum=sum+x
    
print(sum/6)

enter number6
25.5

In [15]:
def alter(lb,up):
    for i in range(lb,up+1,2):
        print(i+1,end=" ")
    return
         
    
alter(500,550)

501 503 505 507 509 511 513 515 517 519 521 523 525 527 529 531 533 535 537 539 541 543 545 547 549 551

In [16]:
def amstrong(n):
    sum=0
    r=0
    k=len(str(n))
    while(n!=0):
        r=n%10
        sum=sum+(r**k)
        n=n//10
    return sum
n=int(input("Enter a number"))
num=amstrong(n)
if(num==n):
    print("it is a amstrong number")
else:
    print("not an amstrong")

Enter a number1546789
not an amstrong

In [1]:
from datetime import date 
f_date=date(1999,7,1)
l_date=date(2017,7,1)
dif=l_date-f_date
dif.days*24

157800

In [2]:
def leapyear(y):
    if y%400==0 or (y%4==0 and y%100!=0):
        return True
    else:
        return False
def noofdays(m,y):
    days=0
    for i in range(m,13):
        if i==2:
            if leapyear(y):
                days=days+29
            else:
                days=days+28
        elif  i==4 or i==6 or i==9 or i==11:
            days=days+30
        else:
            days=days+31
    return days
def noofdays2(m,y):
    days=0
    for i in range(1,m+1):
        if i==2:
            if leapyear(y):
                days=days+29
            else:
                days=days+28
        elif  i==4 or i==6 or i==9 or i==11:
            days=days+30
        else:
            days=days+31
    return days
def diffdays(y1,y2):
    days=0
    for i in range(y1+1,y2):
        if leapyear(i):
            days+=366
        else:
            days+=365
    return days
def totaldays(m1,y1,m2,y2):
    res=0
    res=res+(diffdays(y1,y2))+(noofdays(m1,y1))+(noofdays2(m2,y2))
    return res

totaldays(6,2018,7,2018)
#leapyear(2015)
#diffdays(1999,2018)
#diffdays(2016,2018)
#noofdays2(3,2018)

426

In [109]:
leapyear(2018)

False

In [125]:
366+365+31+28+31

821

In [116]:
337-297

40

In [118]:
703-663

40

In [120]:
227-188

39

In [22]:
def leapyear(y):
    if y%400==0 or (y%4==0 and y%100!=0):
        return True
    else:
        return False
def noofdays(m,y):
    days=0
    for i in range(m,13):
        if i==2:
            if leapyear(y):
                days=days+29
            else:
                days=days+28
        elif  i==4 or i==6 or i==9 or i==11:
            days=days+30
        else:
            days=days+31
    return days
def noofdays2(m,y):
    days=0
    for i in range(1,m+1):
        if i==2:
            if leapyear(y):
                days=days+29
            else:
                days=days+28
        elif  i==4 or i==6 or i==9 or i==11:
            days=days+30
        else:
            days=days+31
    return days
def diffdays(y1,y2):
    days=0
    for i in range(y1+1,y2):
        if leapyear(i):
            days+=366
        else:
            days+=365
    return days
def totaldays(m1,y1,m2,y2):
    res=0
    if y1==y2:
        for i in range(m1,m2+1):
            if i==2:
                if leapyear(y):
                    res=res+29
                else:
                    res=res+28
            elif  i==4 or i==6 or i==9 or i==11:
                res=res+30
            else:
                res=res+31
    else:
        res=res+(diffdays(y1,y2))+(noofdays(m1,y1))+(noofdays2(m2,y2))
    return res

totaldays(1,1600,1,2018)*24
#leapyear(2015)
#diffdays(1999,2018)
#diffdays(2016,2018)
#noofdays2(3,2018)

3664872

In [5]:
l=[1,2,3,4,5]
l.pop()

5