In [1]:
#Function to pront cominations of pair of integers in the unique list
#[1,2,3]->(1,2),(1,3),(2,3)->Ncr->3c2->3!/(3-2)!*2!
#
l=[1,2,3,4]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]==l[j]:
            break
        else:
            print(l[i],l[j])

1 2
1 3
1 4
2 3
2 4
3 4

In [2]:
import itertools
print(list(itertools.combinations([1,2,3,4],3)))

[(1, 2, 3), (1, 2, 4), (1, 3, 4), (2, 3, 4)]

In [3]:
l=[1,2,3,4,5]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        for k in range(j+1,len(l)):
            if l[i]==l[j]:
                break
            else:
                print(l[i],l[j],l[k])

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [4]:
l=[1,2,3,4]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]==l[j]:
            break
        else:
            print(l[i],l[j])

1 2
1 3
1 4
2 3
2 4
3 4

In [54]:
#k-largest difference of pairs
def meduim (li):
    while(True):
            l2=diffpairs(li)
            if l2[0]==l2[1]:
                break
    return l2[0]
        
def diffpairs(li):
    l=li[:]
    cli=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in cli:
                cli.append(d)
    li.extend(cli)   
    return [li,l]       
            
#def klargest(li):
li=[3,9,6,12]
l3=meduim(li)
print(l3)
k=int(input())
z=sorted(l3,reverse=True)[k-1]
print(z)

[3, 9, 6, 12]
2
9

In [ ]:
#Function to find the k th highest among the differnce of pairs
#convert the list into Arthematic progression 
#

In [43]:
bin(7)

'0b111'

In [23]:
int('111111101',2)

509

In [33]:
for _ in range(int(input())):

TypeError: 'int' object is not iterable

In [41]:
int('100101',base=8)

32833

In [55]:
1&1

1

In [57]:
1&2

0

In [58]:
2&3

2

In [59]:
3&4

0

In [61]:
3^4

7

## set -Data Structure
- Represented by '{}'
- set is mutable
- a.add() #### adding an element

In [44]:
s={1,2,3,4,5}
v={11,3,13,243,245,3,2,}
s.add(7)
for i in s:
    print (i, end=" ")
b={7,8,9}
li=[1,2,9,8,7,6]
s.update(b,li)
s.discard(9)
s.union(v)
s.intersection(v)
s.isdisjoint(v)
s-v
sorted(s,reverse=True)
s^v #a union b-a intersection b
q=set()

1 2 3 4 5 7

## Functional Programming
- Procedural language: c
- Object oriented:java,Pyhton
- Screpting:PHP,Python,Jvascript,shell scripting
- Functional language:Python,haskell,scala 
- logic:prolog,logic

## list comprehensions
`

In [69]:
#list of n antural number
l=[x for x in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
#Apply list cubes of numbers
l=[x**3 for x in range(10)]
l

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [78]:
#Apply list even
l=[i for i in range(1,10,2)]

l

[1, 3, 5, 7, 9]

In [93]:
#Functional Programming 
import math
def factorial(n):
    if n==0 or n==1:
        return 1
    return n*factorial(n-1)
l=[factorial(x) for  x in range(1,10)]
l

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [151]:
# store cumilative sum of numbers till n
import math
n=5
l=[sum(range(0,i+1))for i in range(1,n+1)]
l

[1, 3, 6, 10, 15]

In [164]:
#function to store only leap years in a given time 
l=[ i for i in range(1999,2021) if (i%4==0 and i%100!=0) or (i%400==0) ]
l

[2000, 2004, 2008, 2012, 2016, 2020]

In [168]:
l=["True" if 4%2==0 else "false" ]
l

['True']

In [188]:
li=[1,2,3,1,4,5,6,]
l=[i for i in li  if (li.count(i)==1) ]
l

[2, 3, 4, 5, 6]

In [198]:
li=[1,2,3,1,2]
u=[]
[u.append(i) for i in li if i not in u  ]
u

[1, 2, 3]

## Itarators 
- itarable ==>  strings,lists,tuples,dictonarys
- itarator ==> to convert itarable to itarater ===> itar()
-

In [204]:

it =iter('Python')
next(it)
next(it)

'y'

In [215]:
## Genarators
# it is a user defined function
def genarator():
    n=2
    n**=3
    yield n
v=genarator()
next(v)

8

In [216]:
512**5

35184372088832